:root{
    --primary-text-color:#000000;
    --second-text-color: #212121;
    --accent-text-color: #2196f3;
    --accent-link-color: #757575;
    --main-text-color: #ffffff;
    --background-color: #2F303A;
    --background-color-section: #ECECEC;
    --background-color-list: #F5F4FA;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
/* Header content */
.list{
    list-style: none;
}
.icon{
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}
.web{
    color:var(--accent-text-color);
}
.site-nav .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--second-text-color);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-text-color);
}
.aut-site{
    text-decoration: none;
}
.aut-site .link{
    color: var(--accent-link-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.aut-site .link:hover,
.aut-site .link:focus{
    color: var(--accent-text-color);
}
/* Main content */
.title{
    color: var(--main-text-color);
}
.button{
    color: var(--background-color-list);
    background-color: var(--accent-text-color);
}